@{
    ViewData["Title"] = "Terms of Use";
}

<div class="policy-page">
    <h1>@ViewData["Title"]</h1>

    <p>
        By using this system, you agree to the following terms.
    </p>

    <h4>Use of the System</h4>
    <p>
        Use the system only for checking flight info and purchasing tickets. Misuse is prohibited.
    </p>

    <h4>User Accounts</h4>
    <p>
        You are responsible for your account credentials. Do not share or misuse your account.
    </p>

    <h4>Accuracy</h4>
    <p>
        We try to keep all information accurate, but errors may occur. We are not liable for any damages.
    </p>

    <h4>Modifications</h4>
    <p>
        Terms may change at any time. Continued use means acceptance of new terms.
    </p>
</div>
